<%- model_class = Notice -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table table-bordered">
  <tr>
    <td>
      <dt><legend><%= model_class.human_attribute_name(:title) %>:</legend></dt>
      <dd><%= @notice.title %></dd>
    </td>
    <td>  
      <dt><legend><%= model_class.human_attribute_name(:body) %>:</legend></dt>
      <dd><%= @notice.body %></dd>
    </td>
  </tr>
  <tr>
    <td>
      <dt><legend><%= model_class.human_attribute_name(:date) %>:</legend></dt>
      <dd><%= @notice.date %></dd>
    </td>
    <td>
    </td>
  </tr>
</table>

<div class="form-actions">
  <%= link_to I18n.t('.new', :default => t("helpers.links.new")),
            new_notice_path,
            :class => 'btn btn-primary btn-success' %>
  <%= link_to I18n.t('.back', :default => t("helpers.links.back")),
              notices_path, :class => 'btn btn-inverse'  %>
  <%= link_to I18n.t('.edit', :default => t("helpers.links.edit")),
              edit_notice_path(@notice), :class => 'btn btn-info' %>
  <%= link_to I18n.t('.destroy', :default => t("helpers.links.destroy")),
              notice_path(@notice),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
