<div class="row">
  <div class="span4 offset4 ">
    <div align="center">
      <h2>Sign Up</h2>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %> 
      <div class="well">
        <div class="input-prepend">
          <span class="add-on icon-book"></span>
          <%= f.text_field :full_name, :required => false, :placeholder => "Full Name" %>
        </div>
        <div class="input-prepend">
          <span class="add-on icon-user"></span>
          <%= f.text_field :username, :required => false, :placeholder => "Username" %>
        </div>
        <div class="input-prepend">
          <span class="add-on icon-briefcase"></span>
            <%= f.email_field :email, :required => false, :placeholder => "Email" %>
        </div>
        <div class="input-prepend">
          <span class="add-on icon-key"></span>
          <%= f.password_field :password, :required => false, :placeholder => "Password" %>
        </div>
        <div class="input-prepend">
          <span class="add-on icon-key"></span>
          <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
        </div>
        <%= f.submit "Sign Up", :class => "btn btn-primary btn-block" %>
      </div>
    </div>
    <div class="well">
      <p>
        <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary btn-block" %>
        <% end %>
        <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "btn btn-primary btn-block" %><br />
        <% end %>      
      </p>
    </div>  
  </div>      
</div>