<%= form_for(@rail) do |f| %>
  <% if @rail.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@rail.errors.count, "error") %>
    
      <ul>
      <% @rail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-bordered">
  <tr>
    <td>
      <div>
        <%= f.label I18n.t("rails.date"), :class => 'control-label' %>
        <div class="controls">
          <%= f.hidden_field :date %>
          <%= text_field_tag 'date_datetime_select', @notice.try(:date).try(:strftime,'%d/%m/%Y %H:%M %p'), :class => 'datetime_select', "alt_datetime_field" => "rail_date" %>
        </div>
      </div>
    </td>
    <td>
      <div class="field">
        <%= I18n.t("rails.title") %>
        <%= f.text_field :title %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="field">
        <%= I18n.t("rails.body") %>
        <%= f.text_area :body %>
      </div>
    </td>
    <td>
    </td>
  </tr>
</table>
<div class="form-actions">
  <%= f.submit I18n.t("create"), :class => 'btn btn-success' %>
  <%= link_to I18n.t(('cancel'), :default => t("helpers.links.cancel")), rails_path, :class => 'btn btn-warning' %>
</div>
<% end %>

